.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 3% 0 3% 0;
}

.login-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
}

.login-button button {
    margin-top: 5%;
}

.login-form label {
    margin: 3% 0 3% 0;
}

.login-form p {
    font-size: 1.2rem;
}

.login-form input,
button {
    border-radius: 2px;
}

a {
    display: contents;
    text-decoration: none;
}

form button {
    font-weight: bold;
}
.button-checkduplicate-false{
    background: #ff8993;
    color: white;
    border-radius: 5px;
    height: 4vh;
    padding: 1vh;
    font-size: 1rem;
}
.button-checkduplicate-false:hover{
    background: #ff1528;
}
.button-checkduplicate-true {
    background: #00d6c0;
    color: white;
    border-radius: 5px;
    height: 4vh;
    padding: 1vh;
    font-size: 1rem;
}
.div-checkduplicate{
    margin-left: auto;
}
.input-register::placeholder{
    color: #afafaf;
}
#ID-Exclamation{
    font-size: 1rem;
    margin-left: 0.5rem;
}