.listButton-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1vh;
}

.button-showMore {
    width: 100%;
    background-color: #005963;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.button-close {
    width: 100%;
    background-color: #0bd4a2;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    min-height: 2rem;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

.url_a-index {
    color: #003136;
    font-size: 1.3rem;
    font-weight: 900;
}

.urlDragging {
    opacity: 0.95;
    background-color: brown;
}

.input-url-checkbox {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin-right: 0.5vw;
}